---
import Layout from '@layouts/MainLayout.astro';
import PostTitle from '@partials/PostTitle.astro';
import TagsList from '@partials/TagsList.astro';

const { readingTime } = Astro.props.frontmatter;  
const { frontmatter } = Astro.props;
const tags = frontmatter.tags.split(', ');

---

<Layout title={frontmatter.title} description={frontmatter.description} >
    <article id="logs-container" class="post-wrapper section-wrapper m-auto px-5 sm:px-3">
        <!-- <span class="ml-auto mb-8 text-white inline-block dark:text-white text-xs p-1 px-3 rounded-sm w-auto bg-[#d82456]">{frontmatter.tags}</span>   -->
        <TagsList tags={tags} />
        <PostTitle title={frontmatter.title}/>
        <div class="log-details mb-8">
            <span class="inline-block text-sm text-grey dark:text-white">{frontmatter.date}</span> 
            <span class="mx-2 text-grey dark:text-white">•</span>
            <span id="time-container" class="inline-block text-sm text-grey dark:text-white">{readingTime}</span>
        </div>
        <!-- /.log-details -->

        <div class="content text-grey dark:text-white">
            <slot />
        </div>
        <!-- /.content -->
    </article>
</Layout>
