---
import Layout from '@layouts/MainLayout.astro';
import PostTitle from '@partials/PostTitle.astro';
import TagsList from '@partials/TagsList.astro';

const { frontmatter } = Astro.props;

const tags = frontmatter.tags.split(', ');

---

<Layout title={frontmatter.title} description={frontmatter.description} >
    <article id="logs-container" class="post-wrapper section-wrapper m-auto px-5 sm:px-3">
        <!-- <span class="ml-auto mb-8 text-white inline-block dark:text-white text-xs p-1 px-3 rounded-sm w-auto bg-[#d82456]">{frontmatter.tags}</span>   -->
        <TagsList tags={tags} />
        <PostTitle title={frontmatter.title}/>
        <div class="log-details mb-8">
            <span class="inline-block text-sm text-grey dark:text-white">{frontmatter.date}</span> 
            <span class="mx-2 text-grey dark:text-white">•</span>
            <span id="time-container" class="inline-block text-sm text-grey dark:text-white"></span>
        </div>
        <!-- /.log-details -->

        <div class="content text-grey dark:text-white">
            <slot />
        </div>
        <!-- /.content -->
    </article>
</Layout>
<script is:raw type="module">
    function calculateReadingTime() {
        // Gets the article class container containing the content.
        const content = document.getElementById("logs-container").innerText;

        // Average adult words per minute.
        const avgWpm = 225; 

        // Count the words for the content
        const words = content.trim().split(/\s+/).length;

        // Calculate total time takes to read the content based on the average words per minute of an adult.
        const totalTime = Math.ceil(words / avgWpm);
        
        document.getElementById("time-container").innerText = totalTime + " min read";
    }
    calculateReadingTime();
</script>
